<div class="">
  <a class="btn btn-sm btn-success" ng-click="hideImage()">Hide me</a>
  <br>
</div>

<div ng-show = "showImage" class="jumbotron">
    <img src="images/tdd_cycle.jpg"><br>
    <br>
</div>

<div class = "jumbotron">
  <p>
    
  </p>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Property 2</th>
        <th>Property 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Value 1</td>
        <td>Value 2</td>
        <td>Value 3</td>
      </tr>
    </tbody>
  </table>
</div>
